button, div, form, input {
	margin: 5px;
}

img {
	max-width: 200px;
	max-height: 200px;
}

label {
    color: black;
    font-size: large;
}

.btn-default {
    color: #000;
    font-size: medium;
}

body {
	background-image: url("../images/Pixar-logo.png");
    font-family: 'Times New Roman';
    background-repeat: no-repeat;
    background-size: cover;
}

.holder {
    float: left;
}

.jumbotron {
    text-align: center;
}